
teleswift-test-bot/main.swift

teleswift-test-gui/AppDelegate.swift

teleswift-test-gui/Assets.xcassets/AppIcon.appiconset/Contents.json

teleswift-test-gui/Base.lproj/Main.storyboard

teleswift-test-gui/ViewController.swift
