
teleswift-test-bot/main.swift

teleswift-test-gui/AppDelegate.swift

teleswift-test-gui/Assets.xcassets/AppIcon.appiconset/Contents.json

teleswift-test-gui/Base.lproj/Main.storyboard

teleswift-test-gui/ViewController.swift

Teleswift.xcodeproj/project.pbxproj

*.pbxproj

Teleswift.xcodeproj/project.pbxproj

Teleswift.xcodeproj/project.pbxproj

*.xcscheme

*.pbxproj

Teleswift.xcodeproj/xcuserdata/Harry.xcuserdatad/xcschemes/xcschememanagement.plist

Teleswift.xcodeproj/project.pbxproj

Teleswift.xcodeproj/xcuserdata/Harry.xcuserdatad/xcschemes/xcschememanagement.plist

*.pbxproj
